# Introduction

In [ ]:
# Aim: To get word-associations (rules) using a database of words
# words occuring together are more important, and may suggest some kind of association between them
# eg. A is type-of B, A is subset/subtype of B etc.

# ARM resources terminology
# Database(D) - Consists of several transactions (T1, T2, ...)
# Items (I) - Items present in market basket (i1, i2, ...)
# Every transaction consists of a subset of Items

# Our terminology
# Database (D) - Consists of several tables (sets the universe) which specify columns to look at (C1, C2, ...)
# Items (I) - Words in the columns, with or without filtering (removing stop-words, lemmatization etc) (w1, w2, ...)
# Every column consists of a (small) subset of Items

In [ ]:
# Plan
# Let user specify set of tables to consider as database
# Use columns inside that to generate word associations
# Plot the results of Support, Confidence of rule etc..

# Imports

In [ ]:
!pip install pycaret
# !pip install pydot

Requirement already satisfied: pycaret in /usr/local/lib/python3.7/dist-packages (2.3.3)
Requirement already satisfied: scikit-plot in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.3.7)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.1)
Requirement already satisfied: scikit-learn==0.23.2 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.23.2)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.5.1)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (2.2.4)
Requirement already satisfied: mlflow in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.19.0)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.1.5)
Requirement already satisfied: numpy==1.19.5 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.19.5)
Requirement already satisfied: Boruta in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.3)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.6.3)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.4)
Requirement already satisfied: imbalanced-learn==0.7.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.7.0)
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.post1)
Requirement already satisfied: kmodes>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.0)
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: pandas-profiling>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.0.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.5)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.0)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (4.4.1)
Requirement already satisfied: pyod in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.9.0)
Requirement already satisfied: IPython in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.0.1)
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: mlxtend>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.18.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.2->pycaret) (2.2.0)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (57.2.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0.0->pycaret) (5.1.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (5.0.5)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.8.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (4.10.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.5)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=2.3.1->pycaret) (0.36.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.4.7)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.7.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (2.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pycaret) (2018.9)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.62.0)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.8.2)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.5.0)
Requirement already satisfied: PyYAML>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (5.4.1)
Requirement already satisfied: visions[type_image_path]==0.7.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.1)
Requirement already satisfied: phik>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.0)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.0)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.26.0)
Requirement already satisfied: multimethod==1.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.4)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (21.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (2.5.1)
Requirement already satisfied: bottleneck in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.3.2)
Requirement already satisfied: imagehash in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (4.2.1)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas-profiling>=2.8.0->pycaret) (2.0.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.4.1->pycaret) (1.3.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.8.1->pandas-profiling>=2.8.0->pycaret) (3.7.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.24.3)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (3.0.5)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (2.0.5)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (7.4.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.8.2)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (4.6.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (3.5.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.7.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.10.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets->pycaret) (22.1.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.20)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: querystring-parser in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: docker>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (5.0.0)
Requirement already satisfied: gitpython>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.1.18)
Requirement already satisfied: protobuf>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.17.3)
Requirement already satisfied: Flask in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.1.4)
Requirement already satisfied: gunicorn in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (20.1.0)
Requirement already satisfied: databricks-cli>=0.8.7 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.15.0)
Requirement already satisfied: alembic<=1.4.1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.1)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.3)
Requirement already satisfied: prometheus-flask-exporter in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.18.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (21.0)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.3.0)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4.1)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.7/dist-packages (from alembic<=1.4.1->mlflow->pycaret) (1.0.4)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic<=1.4.1->mlflow->pycaret) (1.1.4)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.7/dist-packages (from docker>=4.0.0->mlflow->pycaret) (1.1.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.7)
Requirement already satisfied: smmap<5,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython>=2.1.0->mlflow->pycaret) (4.0.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.4.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (3.3.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.11.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Requirement already satisfied: funcy in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (1.16)
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (2.7.3)
Requirement already satisfied: numba>=0.35 in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.51.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.10.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.35->pyod->pycaret) (0.34.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod->pycaret) (0.5.1)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn->pycaret) (0.5.4)

In [ ]:
import os 
from collections import defaultdict
import matplotlib
import matplotlib.pyplot as plt
import traceback
from bs4 import BeautifulSoup, SoupStrainer
import sys
import re
import pandas as pd
import numpy as np
import networkx as nx
import nltk
from nltk.corpus import stopwords, words as nltk_corpus_words
from nltk.stem import WordNetLemmatizer
# from english_words import english_words_set
import time
import json
import wordcloud
import functools
from pycaret import arules
from pycaret.utils import enable_colab
from networkx.drawing.nx_agraph import graphviz_layout
import random
# nltk.download('stopwords')
# nltk.download('wordnet')
# nltk.download('words')
# nltk.download('averaged_perceptron_tagger')

In [ ]:
from IPython.display import HTML
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
# enable_colab()

# Set up

In [ ]:
# Get table_columns_info from saved json file (generated by Intra_Entity_Analysis.ipynb)
# Generate a dict {column_name : words} (as transaction database)
# Generate a dict {table_name : columns} (to know which columns(transactions) to take for particular table - helps in setting up database)
table_columns_info_file = "/content/drive/MyDrive/Process_Mining_SOP/Sharanya/OutcomeFolder/table_column_info.json"

with open(table_columns_info_file) as infile:
  table_columns_info_json = json.load(infile)

In [ ]:
column_words_dict = {}
table_columns_dict = {}

for filename, column_data in table_columns_info_json.items():
  if filename not in table_columns_dict:
    table_columns_dict[filename] = list(column_data.keys())
  else:
    print(f"Table {filename} found again")

  for column_name, column_info in column_data.items():
    if column_name not in column_words_dict:
      column_words_dict[column_name] = column_info['words']
    else:
      continue
      print(f"Column {column_name} encountered before")

In [ ]:
len(table_columns_dict)

879

In [ ]:
len(table_columns_info_json)

879

# Options

In [ ]:
pd.set_option('display.max_rows', None)

# ARM

In [ ]:
# Take in a list of tables to set up the database
def get_database(database_table_list):
  global table_columns_dict, column_words_dict

  database = {'column_name':[], 'word':[], 'from_table':[]}
  columns_taken = set()

  for table in database_table_list:
    if table not in table_columns_dict:
      print(f"Table {table} not found in table_columns_dict")
      continue
    for column in table_columns_dict[table]:
      if column in columns_taken:
        continue
      else:
        columns_taken.add(column)
        for word in column_words_dict[column]:
          database['column_name'].append(column)
          database['word'].append(word)
          database['from_table'].append(table)
  
  return database

In [ ]:
random_table_list = list(table_columns_dict.keys())
random.shuffle(random_table_list)
random_table_list_selection = random_table_list[0::10]
len(random_table_list_selection)

88

In [ ]:
def find_columns(word_list):
  global database_df

  word_count_per_col = database_df[database_df['word'].isin(word_list)].groupby(by='column_name').agg({'word':'count', 'from_table':'first'}).reset_index()
  columns_satisfying = word_count_per_col[word_count_per_col['word'] == len(word_list)][['column_name', 'from_table']].values

  return columns_satisfying.tolist()

In [ ]:
def set_to_string(given_set):
  # print(given_set)
  # if len(given_set) > 1:
  #   return None
  # else:
  #   return list(given_set)[0]
  return ' '.join(list(given_set))

In [ ]:
def convert_set_to_string(df_series):
  new_arr = pd.Series(list(map(set_to_string, df_series)))
  return new_arr

In [ ]:
def reduce_consequents(series):
  return functools.reduce(lambda x, y: x+','+y, series)

In [ ]:
def get_columns_tables(row):
  # print(f"row is\n{row}")
  all_words = row['antecedents'].split()
  all_words.extend(row['consequents'].split())

  cols_tables = '\n'.join([col_table[0]+" : "+col_table[1] for col_table in find_columns(all_words)])
  # print(f"returning {tuple([len(cols_tables), cols_tables])}")
  return cols_tables

In [ ]:
num_of_tables_per_run = 100
num_of_runs = int(np.ceil(len(random_table_list)/num_of_tables_per_run))

for i in range(num_of_runs):
  print(f"On batch {i}")
  current_table_list = random_table_list[i*num_of_tables_per_run:(i+1)*num_of_tables_per_run]
  database = get_database(list(current_table_list))
  database_df = pd.DataFrame.from_dict(database)
  print(f"Generated databse")
  setup_result = arules.setup(data=database_df,
                            transaction_id= 'column_name',
                            item_id = 'word')
  model = arules.create_model(threshold=0, min_support=0.1/(len(database_df['column_name'].unique())), max_len=2)
  print(f"Model shape is {model.shape}")
  model['consequents'] = convert_set_to_string(model['consequents'])
  model['antecedents'] = convert_set_to_string(model['antecedents']) 
  model.sort_values('confidence', ascending=False, inplace=True)
  print(f"Generated final model")
  model[['antecedents', 'consequents']].to_csv('/content/drive/MyDrive/Process_Mining_SOP/'+'random_'+str(num_of_tables_per_run)+'_tables_batch_'+str(i)+'.csv', header=False, index=False)
  print(f"Model saved")
  print()

On batch 0
Generated databse

Model shape is (1642, 9)
Generated final model
Model saved

On batch 1
Generated databse

Model shape is (1682, 9)
Generated final model
Model saved

On batch 2
Generated databse

Model shape is (2358, 9)
Generated final model
Model saved

On batch 3
Generated databse

Model shape is (1520, 9)
Generated final model
Model saved

On batch 4
Generated databse

Model shape is (1818, 9)
Generated final model
Model saved

On batch 5
Generated databse

Model shape is (1898, 9)
Generated final model
Model saved

On batch 6
Generated databse

Model shape is (2266, 9)
Generated final model
Model saved

On batch 7
Generated databse

Model shape is (2308, 9)
Generated final model
Model saved

On batch 8
Generated databse

Model shape is (1414, 9)
Generated final model
Model saved

# Running ARM on chains

In [ ]:
# for i in range(num_of_runs):
#   print(f"Moving to file {i+1} of {num_of_runs}")
#   with open('/content/drive/MyDrive/Process_Mining_SOP/'+'chains_random_'+str(num_of_tables_per_run)+'_tables_batch_'+str(i)+'.csv', 'r') as f:
#     for line in f:
#       global_chain_num += 1
#       words = line.strip(', ').split(',')[:-2]
#       if len(words) == 1:
#         continue
#       for word in words:
#         chain_database['chain_id'].append(global_chain_num)
#         chain_database['word'].append(word)

Moving to file 1 of 2
Moving to file 2 of 2

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [ ]:
# chain_database = {'chain_id':[], 'word':[]}
all_chains_database = []
global_chain_num = 0
num_of_runs=9
num_of_tables_per_run=100

In [ ]:
for i in range(3, 6):
  print(f"Moving to file {i+1} of {num_of_runs}")
  with open('/content/drive/MyDrive/Process_Mining_SOP/'+'chains_random_'+str(num_of_tables_per_run)+'_tables_batch_'+str(i)+'.csv', 'r') as f:
    for line in f:
      global_chain_num += 1
      words = line.strip(', ').split(',')[:-2]
      all_chains_database.append(words)

Moving to file 4 of 9
Moving to file 5 of 9
Moving to file 6 of 9

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(all_chains_database).transform(all_chains_database)
chains_df = pd.DataFrame(te_ary, columns=te.columns_)
len(chains_df)

34113

In [ ]:
frequent_itemsets = apriori(chains_df, min_support=5/len(chains_df), use_colnames=True, low_memory=True, verbose=2)
# frequent_itemsets

Processing 13 combinations | Sampling itemset size 12

In [ ]:
frequent_itemsets.sort_values(by='support')

        support                             itemsets  ... items_count  support_num
8148   0.000223               (attribute, name, lot)  ...           3          5.0
64357  0.000223   (strategy, pick, auth, time, call)  ...           5          5.0
16209  0.000223                (time, level, freeze)  ...           3          5.0
34540  0.000223  (transaction, drop, cond, extended)  ...           4          5.0
29083  0.000223    (date, status, audit, maintained)  ...           4          5.0
...         ...                                  ...  ...         ...          ...
482    0.144407                               (task)  ...           1       3234.0
112    0.162090                               (cost)  ...           1       3630.0
306    0.165483                                (num)  ...           1       3706.0
246    0.196919                               (item)  ...           1       4410.0
497    0.223979                               (tran)  ...           1       5016.0

[165368 rows x 5 columns]

In [ ]:
frequent_itemsets['itemsets_formatted'] = convert_set_to_string(frequent_itemsets['itemsets'])
frequent_itemsets['items_count'] = series_count_items(frequent_itemsets['itemsets_formatted'])
frequent_itemsets['support_num'] = frequent_itemsets['support']*len(all_chains_database)

In [ ]:
frequent_itemsets[['support', 'support_num', 'itemsets_formatted', 'items_count']].to_csv('/content/drive/MyDrive/Process_Mining_SOP/'+'frequent_itemsets_batch_01.csv')
print(f"Frequent itemsets saved")
print()

Frequent itemsets saved

In [ ]:
chain_database_df = pd.DataFrame.from_dict(chain_database)

In [ ]:
chain_database_df[chain_database_df['chain_id'] == 5208]

       chain_id      word
29347      5208  extended
29348      5208      drop
29349      5208      cond
29350      5208   program
29351      5208     price
29352      5208       set
29353      5208     value
29354      5208       min
29355      5208      unit
29356      5208       num
29357      5208      item
29358      5208      rule
29359      5208      name

In [ ]:
chain_database_df.groupby(by='chain_id').agg({'word':'count'}).sort_values('word')

          word
chain_id
22394        2
14991        2
21443        2
14995        2
21445        2
...        ...
12258       13
12248       13
5208        13
12249       14
12253       14

[21809 rows x 1 columns]

In [ ]:
setup_result = arules.setup(data=chain_database_df,
                            transaction_id= 'chain_id',
                            item_id = 'word')

In [ ]:
# 100000/(len(chain_database_df['chain_id'].unique()))
start_time = time.time()
model = arules.create_model(threshold=0, min_support=0.00005, low_memory=True)
end_time = time.time()

print(f"Model made has shape {model.shape}")
print(f"Time taken = {end_time-start_time}")

In [ ]:
model.shape

(58, 9)

In [ ]:
model

                antecedents           consequents  ...  leverage  conviction
0         (tran, set, warn)                (locn)  ...    0.0176         inf
1         (unit, item, set)                 (num)  ...    0.0084         inf
2      (level, unit, value)                 (num)  ...    0.0084         inf
3       (level, num, value)                (unit)  ...    0.0090         inf
4     (min, tran, num, set)         (unit, value)  ...    0.0103         inf
...                     ...                   ...  ...       ...         ...
6557                 (pick)  (reversal, strategy)  ...    0.0108      1.0982
6558                 (node)        (access, item)  ...    0.0125      1.0954
6559                 (node)      (factor, access)  ...    0.0125      1.0954
6560                 (tran)          (pick, zone)  ...    0.0158      1.0765
6561                 (tran)                (pick)  ...   -0.0052      0.9750

[6562 rows x 9 columns]

In [ ]:
model['consequents'] = convert_set_to_string(model['consequents'])
model['antecedents'] = convert_set_to_string(model['antecedents'])

In [ ]:
def count_items(s):
  return len(s.split())

In [ ]:
def series_count_items(df_series):
  new_arr = pd.Series(list(map(count_items, df_series)))
  return new_arr

In [ ]:
model['count_items'] = series_count_items(model['antecedents'])
model['count_items'] += series_count_items(model['consequents'])

In [ ]:
model[model['count_items'] == 6]

                  antecedents              consequents  ...  conviction  count_items
4            min tran num set               unit value  ...         inf            6
24    locn unit set value num                     tran  ...         inf            6
26         min tran num value                 unit set  ...         inf            6
29          min tran num unit                value set  ...         inf            6
78               min tran num           unit set value  ...         inf            6
...                       ...                      ...  ...         ...          ...
6520                     unit  value set zone tran num  ...      1.1020            6
6521                     unit  value set tran num task  ...      1.1020            6
6528                    value   unit set zone tran num  ...      1.1014            6
6539                    value   unit set tran num task  ...      1.1014            6
6543                    value    min unit set tran num  ...      1.1014            6

[297 rows x 10 columns]